/* .modal {
    background: red;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
} */

.modal {
    width: 80%;
    height: 65%;
    position: absolute;
    top: 27%;
    left: 10%;
    border-radius: 10px;

    /* background-color: #000000b1; */

    background: linear-gradient(#323335, #848485);
}

/* #profilepic img {
    width: 250px;
    height: 250px;
} */
.logo {
    width: 200px;
    height: 200px;
}

main {
    margin: 0 auto;
}

.profile-pic-small {
    width: 70px;
    height: 70px;
    position: relative;
    top: 2px;
    left: 20px;
    border-radius: 85px;
}

.profile-pic-big {
    border-radius: 2px;
    max-width: 250px;
    /* transform: translate(-05%, -27%); */
}

body {
    font-family: Helvetica;
    background-color: white;
    box-sizing: border-box;
    margin: 5px;
}

/* button {
    width: 100px;
    height: 30px;
    padding: 0;
    right: 3%;
    border-radius: 5px;
} */

button.friend-button {
    width: 200px;
    height: 30px;
}

.header-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 150px;
    padding: 0 30px;
    border-bottom: 1px solid black;
    position: relative;
}
