* {
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

main {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: #00a2ff;
    font-family: monospace;
    font-weight: lighter;
    font-size: 32px;
}

.modal {
    width: 80%;
    height: 65%;
    position: absolute;
    top: 27%;
    left: 10%;
    border-radius: 10px;
    background: linear-gradient(#323335, #848485);
    z-index: 100;
}

.modal button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
}

/* welcome component */

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.welcome-container p {
    color: #00a2ff;
    font-size: 30px;
    text-align: center;
}

.welcome-container h4 {
    color: #00a2ff;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 200px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    margin: 2px;
}

.welcome-container a {
    text-decoration: none;
}

.title {
    width: 1000px;
    margin-bottom: 40px;
}
.welcome-logo {
    height: 500px;
}

.house-logo {
    height: 85%;
    padding-left: 50px;
}

.welcome-logo,
.house-logo {
    margin: 0 auto;
    display: flex;
    animation: house-logo-float infinite 1.3s alternate;
}

@keyframes house-logo-float {
    0% {
        transform: translateY(10);
    }
    100% {
        transform: translateY(+10px);
    }
}

/* header component:  */
.header-container {
    display: inline-flex;
    width: 100%;
    height: 150px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #f8f8f8;
}

.logo-small {
    height: 140px;
    position: relative;
    left: 15px;
    top: 5px;
}

.links {
    position: relative;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #00a2ff;
    border-right: solid 0.5px #00a2ff;
}

.links:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 97px;
    margin-left: 16px;
}

.profile-pic-small {
    width: 85px;
    height: 85px;
    left: 20px;
    border-radius: 85px;
    border: #00a2ff;
    position: relative;
    top: 35px;
    left: 1155px;
}

/* profile component:  */
.profile-container {
    display: flex;
    flex-direction: column;
    color: grey;
    /* width: 50%; */
    height: 500px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    padding: 10px;
    overflow: scroll;
    text-align: center;

    /* background: linear-gradient(#86d6e7, #c9e8ee); */
}

/* .profile-container  {
    color: #00a2ff;
    text-decoration: underline;
    font-weight: lighter;
} */

.profile-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    padding: 10px;
}

.profile-pic-big {
    border-radius: 8px;
    width: 250px;
    height: 350px;
    margin-top: 10px;
    padding: 5px;
}

.profile-name {
    display: block;
    height: 10px;
}
/*
.profile-info button {
    position: absolute;
    top: 270px;
    right: 148px;
} */

.bio {
    font-style: italic;
    /* max-width: 250px; */
    width: 80%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
}

.bio-editor-wrapper {
    text-align: center;
}

.bio-text {
    width: 100%;
}

.update-button-div {
}

/* .bioeditor-wrapper {
    width: 20%;
} */

button:hover {
    border-color: #ff0100;
}

button {
    width: 100px;
    height: 30px;
    padding: 0;
    right: 3%;
    border-radius: 3px;
}

/* friends component */

.friends-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.friends-box {
    margin: 10px auto;
    color: grey;
    width: 600px;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.friends-box:hover {
    transform: scale(1.03);
}

.friends-box a {
    font-size: 20px;
    text-decoration: none;
    color: #00a2ff;
}

.friend-info {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

/* chatmessages component */
.chatMessagesContainer {
    margin: 10px auto;
    display: flex;
    color: grey;
    width: 50%;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    padding: 10px;
    flex-direction: column;
}

.chatMessagesContainer img {
    width: 85px;
    height: 85px;
    left: 20px;
    border-radius: 85px;
    border: #00a2ff;
    top: 20px;
    left: 92%;
}

.chatMessageInput {
    display: flex;
    flex-direction: column;
}

/* wall: */
.wall-container {
    height: 100%;
    text-align: center;
}

.link-picture {
    height: 300px;
    width: 500px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;
}

/* ------------------- */
.wallpost-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.wallpost-children {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    background-color: white;
    margin: 0 auto;
    width: 600px;
    padding-top: 90px;
    font-size: 20px;
}

.post-div {
    margin-bottom: 50px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}

.btn-wall {
    position: relative;
    top: 30px;
    right: 250px;
}

.wallInput {
    position: relative;
    left: 50px;
}

textarea {
    position: relative;
    left: 50px;
    height: 100px;
    width: 500px;
    border: 1px dotted black;
    border-radius: 3px;
    font-style: italic;
    font-size: 20px;
}

nav {
    position: relative;
    left: 30px;
    bottom: 35px;
}

.links:hover {
    color: pink;
    font-weight: bold;
}
